body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
  }

.container_background{
    position: relative;
}
  /* background img */
.background_img{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
}
.background_img img{
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.5;
}
  /* La barre de navigation */
  nav{
    position: relative;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    color: #ff0000;
    padding: 0 25px;
    z-index: 1;
  }
  nav .gauche{
    display: flex;
    flex-wrap:wrap;
  }
  nav .gauche img{
    padding-top: 5px;
  }
  nav .gauche .onglets{
    display: flex;
    flex-wrap:wrap;
    margin-left: 10px;
  }
  nav .gauche .onglets p{
    margin-left: 10px;
    cursor:pointer;
    color: #909191;
  }
  nav .gauche .onglets p:hover{
    color: #fff;
  }
  nav .droite{
    display: flex;
    flex-wrap:wrap;
  }
  nav .droite a{
    color: white;
    text-decoration: none;
}
na .droite a:hover{
  color: #909191;
}
  nav .droite p{
    margin-right: 10px;
    cursor:pointer;
  }
/* Fin de la barre de navigation */
/* Section formulaire */ 
.test2{
  display: flex;
  justify-content: center;
  align-items: center;
  height:calc(75vh);
}
.form_style{
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}
.form-group{
  display: flex;
    gap: 5px;
    flex-direction: column;
    margin: 5;
}
.login-box h1{
  display: flex;
  justify-content: center;
}
.mail_password_box input{
  display: flex;
  row-gap: 5px;
  justify-content: center;
}
.login-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    background: rgb(0 0 0 /0.8);
    width: 25%;
    padding-top: 10px ;
    padding-bottom: 10px;
}
.login-container h1{
    color: #909191;
    cursor: pointer;
  }
  .login-help{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
.login-help a{
  text-decoration: none;
  color: white;
}
.login-help a:hover{
  color: #909191;
}
.login-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* fin section formulaire */

